.tools{
    position: absolute;
    left: 0px;
    top: 120px;
    width: 90px;
    height: 180px;
    border: solid 1px;
    
}

.panel{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.rect, .arrow{
    width:80px; 
    height:50px;
    fill:none;
    border: solid 1px;
    margin-top: 3px;
}

.tool-arrow{
    stroke:black;
    stroke-width:2;
}

.state{
    
    width: 100px;
    height: 50px;
    border-radius: 3px;
    border: 1px solid;
    background-color: cadetblue;
    position: absolute;
    top: -145px;
    //display: none;
    
}

.textContent{
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: violet;
    //display: none;
}

#transition{
    background-color: #039be5;
}

#final{
    background-color: #009035;
}

#freeFlow{
    background-color: #fca91a;
}

.sideTools{
    display: flex;
    flex-direction: column;
    position: absolute;
}