<div class="tools">
    <div class="panel" >
        <div class="rect" (click)="selectRect($event)">
          Stat
        </div>
        <div class="arrow" (click)="selectArrow($event)">
          Arrow
        </div>
        <div class="arrow" (click)="createState()">
          Create
        </div>
    </div>
    
</div>
<div>
<div id="state" class="state" 
      (mousemove)="followCursor($event)"
      (click)="stopFollowCursor($event)"
       >
  <div id="stateName" class="textContent" contenteditable="true">

  </div>
</div>
