.tools{
    position: absolute;
    left: 0px;
    top: 120px;
    width: 90px;
    height: 180px;
    border: solid 1px;
    
}

.panel{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.rect, .arrow{
    width:80px; 
    height:50px;
    fill:none;
    border: solid 1px;
    margin-top: 3px;
}

.tool-arrow{
    stroke:black;
    stroke-width:2;
}

.state{
    
    width: 110px;
    height: 50px;
    border-radius: 3px;
   // border: 1px ;
    background-color: whitesmoke;
    position: absolute;
    top: 450px;
    
    .stateName{
        white-space: nowrap;
        overflow:hidden;
        background-color: whitesmoke;
    }
}

.textContent{
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    //background-color: violet;
    text-align: center;
    
}

#transition{
    background-color: #039be5;
}
#sideTransition{
    color: #039be5;
    
}
#sideFreeFlow{
    color: #fca91a;
}

#final{
    background-color: #009035;
}
#sideFinal{
    color: #009035;
}
#freeFlow{
    background-color: #fca91a;
}

#sideTools{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 145px;
    top: 160px;
}

.sideTools:hover{
    cursor: pointer;

}

.test{
    height: 100px;
    width: 100px;
    background-color: #009035;
}