<div class="tools">
    <div class="panel" >
      <div  id="transition" class="rect" (click)="createTransition($event,'transition')">
        Add transition Status
      </div>
      <div id="freeFlow" class="rect" (click)="createTransition($event,'freeFlow')">
        Add Free Flow Status
      </div>
      <div id="final" class="rect" (click)="createTransition($event,'final')">
        Add Final Satatus
      </div>
      <div class="arrow" (click)="selectArrow($event)">
        Arrow
      </div>
    </div>
    
</div>
<div>
<div id="state" class="state" 
      (mousemove)="followCursor($event)"
      (click)="stopFollowCursor($event)">

  <div id="stateName" class="textContent" 
        contenteditable="true" (blur)="createState()">

  </div>
</div>
