<div class="tools">
    <div class="panel" >
      <div  id="transition" class="rect"  draggable="true" 
      (click)="createTransition($event,'transition')"
     >
        Add transition Status
      </div>
      <div id="freeFlow" class="rect" (click)="createTransition($event,'freeFlow')">
        Add Free Flow Status
      </div>
      <div id="final" class="rect" (click)="createTransition($event,'final')">
        Add Final Satatus
      </div>
      <!--
      <div class="arrow" (click)="selectArrow($event)">
        Arrow
      </div>
      -->
    </div>    
</div>

  <div id="state" class="state" 
      (mousemove)="followCursor($event)"
      (click)="stopFollowCursor($event)">

  <div id="stateName" class="textContent" (blur)="createState()"
        contenteditable="true" >
  </div>
</div>

<div id="sideTools" >
  <div class="sideTools" (click)="selectArrowSideTools($event)">
    <mat-icon aria-hidden="false" aria-label="Example home icon">
      trending_up
    </mat-icon>    
  </div>
  <div class="sideTools" (click)="changeNameSideTools($event)">
    <span class="material-icons">
      title
    </span>
  </div>
  <div class="sideTools" (click)="deleteState()" *ngIf="notStart">
    <mat-icon aria-hidden="false" aria-label="Example home icon">
      delete_forever
    </mat-icon>
  </div>
  <div class="sideTools"  (click)="createTransition($event,'transitionSideTools')">
    <span id="sideTransition" class="material-icons">
        stop
    </span>
  </div>
  <div class="sideTools" (click)="createTransition($event,'finalSideTools')">
    <span id="sideFinal" class="material-icons">
        stop
    </span>
  </div>
</div>
