.tools{
    display: flex;
    flex-wrap: nowrap;
    //position: absolute;
    //left: 0px;
    //top: 120px;
    width:200px; 
    height: auto;
    //border: solid 1px;
    background-color: #FAFAFA;
}

.panel{
    width: 100%;
    height: auto;
    justify-content: center;
    //min-width: 200px;
    background-color: #eef0f2;
    font-family: "Times New Roman";
    
}

.rect, .arrow{
    width:100%; 
    height:auto;
    fill:none;
    border: solid 1px;
    //margin: 3px;
    color: whitesmoke;
    cursor: pointer;
    
    
}

.tool-arrow{
    stroke:black;
    stroke-width:2;
}

.state{
    
    width: 110px;
    height: 50px;
    border-radius: 3px;
   // border: 1px ;
    background-color: whitesmoke;
    position: absolute;
    top: -450px;
    
    .stateName{
        white-space: nowrap;
        overflow:hidden;
        background-color: whitesmoke;
    }
}

.textContent{
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    //background-color: violet;
    text-align: center;
    
}

#transition{
    background-color: #039be5;
    
}
#sideTransition{
    color: #039be5;
    
}
#sideFreeFlow{
    color: #fca91a;
}

#final{
    background-color: #009035;
}
#sideFinal{
    color: #009035;
}
#freeFlow{
    background-color: #fca91a;
}

#sideTools{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 145px;
    top: 160px;
}

.sideTools:hover{
    cursor: pointer;
    background-color: rgba(190, 250, 247, 0.685);
}

.test{
    height: 100px;
    width: 100px;
    background-color: #009035;
}

.entryDescription{
    
   
    font-size:12px;
    user-select: none;
    color: #333;
    text-rendering: optimizeLegibility;
    box-sizing: border-box;
    text-align: left;
    margin:10px 0px 0px 10px;
    font-size: 12px;
    line-height: 16px;
}

.transitionHeader{
    font-size: 13px;
    text-align: center;
    border-radius: 5px;
    margin: 10px 0px 0px 25px;
    width: 75%;
    white-space: nowrap;
    //overflow: hidden;
    text-overflow: ellipsis ;
}
.rect:hover .entryDescription{
        color: #ff7400;
    
}

.separator{
    margin: 3px 5px 0px;
    border: none;
    border-top: solid 1px #DDD;
    clear: both;
}
span{
    display: inline-block;
    vertical-align: top;
}
mat-icon{
    font-size: 20px;
}