


<svg id="mysvg2" xmlns="http://www.w3.org/2000/svg"
     width="80" height="220" style="border:1px solid black; ">
     <g  cdkDragBoundary="#mysvg"  width="120" height="70">
        <svg:rect  width="80" height="50" class="item"cdkDrag></svg:rect>        
        <svg:line x1="8" y1="145" x2="55" y2="185" style="stroke:rgb(255,0,0);stroke-width:2"></svg:line>
        <svg:circle class="circle" cx="35" cy="95" r="30" stroke="black" stroke-width="0" fill="red"></circle>
    </g>    
</svg>




<!--
<svg id="mysvg" xmlns="http://www.w3.org/2000/svg"
     width="100%" height="500" style="border:1px solid black; ">

    <svg x="10" class="groupe">
        <g  cdkDragBoundary="#mysvg" cdkDrag >
        <svg:rect  width="100" height="50" class="item"></svg:rect>
        
        <svg:circle class="circle" cx="0" cy="25" r="3" stroke="black" stroke-width="0" fill="red"></circle>
        <svg:circle class="circle" cx="100" cy="25" r="3" stroke="black" stroke-width="0" fill="red"></circle>
        <svg:circle class="circle" cx="50" cy="0" r="3" stroke="black" stroke-width="0" fill="red"></circle>
        <svg:circle class="circle" cx="50" cy="50" r="3" stroke="black" stroke-width="0" fill="red"></circle>        
    </g>
    </svg>

    <svg x="100" y="150" class="groupe">
        <g  cdkDragBoundary="#mysvg" cdkDrag >
        <svg:rect  width="100" height="50" class="item"></svg:rect>
        
        <svg:circle class="circle" cx="0" cy="25" r="3" stroke="black" stroke-width="0" fill="red"></circle>
        <svg:circle class="circle" cx="100" cy="25" r="3" stroke="black" stroke-width="0" fill="red"></circle>
        <svg:circle class="circle" cx="50" cy="0" r="3" stroke="black" stroke-width="0" fill="red"></circle>
        <svg:circle class="circle" cx="50" cy="50" r="3" stroke="black" stroke-width="0" fill="red"></circle>        
    </g>
    </svg>

    <svg height="210" width="500" >
        <svg:line [attr.x1]="x1" [attr.y1]="y1" [attr.x2]="x2" [attr.y2]="y2" style="stroke:rgb(255,0,0);stroke-width:2" />
    </svg>

</svg>
-->

<!--
<div>
    <div>
        <div (click)="createCircle()"></div>
        <div (click)="createRect()"></div>
        <div (click)="createArrow()"></div>
    </div>
    <div class="svg">
        
<svg id="mysvg" xmlns="http://www.w3.org/2000/svg"
width="100%" height="500" style="border:1px solid black; ">

<svg x="10" class="groupe">
   <g  cdkDragBoundary="#mysvg" cdkDrag >
   <svg:rect  width="100" height="50" class="item"></svg:rect>
   
   <svg:circle class="circle" cx="0" cy="25" r="3" stroke="black" stroke-width="0" fill="red"></circle>
   <svg:circle class="circle" cx="100" cy="25" r="3" stroke="black" stroke-width="0" fill="red"></circle>
   <svg:circle class="circle" cx="50" cy="0" r="3" stroke="black" stroke-width="0" fill="red"></circle>
   <svg:circle class="circle" cx="50" cy="50" r="3" stroke="black" stroke-width="0" fill="red"></circle>        
</g>
</svg>

<svg x="100" y="150" class="groupe">
   <g  cdkDragBoundary="#mysvg" cdkDrag >
   <svg:rect  width="100" height="50" class="item"></svg:rect>
   
   <svg:circle class="circle" cx="0" cy="25" r="3" stroke="black" stroke-width="0" fill="red"></circle>
   <svg:circle class="circle" cx="100" cy="25" r="3" stroke="black" stroke-width="0" fill="red"></circle>
   <svg:circle class="circle" cx="50" cy="0" r="3" stroke="black" stroke-width="0" fill="red"></circle>
   <svg:circle class="circle" cx="50" cy="50" r="3" stroke="black" stroke-width="0" fill="red"></circle>        
</g>
</svg>

<svg height="210" width="500" >
   <svg:line [attr.x1]="x1" [attr.y1]="y1" [attr.x2]="x2" [attr.y2]="y2" style="stroke:rgb(255,0,0);stroke-width:2" />
</svg>

</svg>

    </div>

</div>
-->