<div class="container" >
    <div class="tools">
        <app-tools (addNewStateEvent)="onNewStateEventRecived($event)"
                (addNewArrowEvent)="onNewArrowEventRecived($event)"
                (addNewArrowSideToolsEvent)="onNewArrowSideToolsRecived($event)"
                (changeNameSideToolsEvent)="updateStateName($event)"
                (deleteStateEvent)="onDeleteStateEventRecived($event)"
                (updateStateNameEvent)="onUpdateStateNameRecived($event)"
                [stateNewName]="stateNewName"
                [changeName]="changeName"
                [displaySideTools]="displaySideTools"
                >
        </app-tools>
        <div class="button">
            <button mat-stroked-button color="basic" 
                (click)="createXML()">Save</button>
        </div>
    </div>
    <div class="svg">
        <svg  style="border:1px solid black;"
            (click)="hideSideTools()" >    
            <g *ngFor="let state of myStates"
                [state]="state"
                [translation]="state.translateX"
                [stateName]="state.name"
                
                app-rectangle cdkDrag 
                (cdkDragMoved)="onDragMoved($event,state)"

                (mousedown)="onMouseDown(state)"
                (dblclick)="updateStateName(state)"
                (click)="onStateSelected($event,state)"
                >        
            </g>  
            <g *ngFor="let arrow of myArrows" 
                [arrow]="arrow" app-arrow
                [translation]="arrow.startTranslationX + arrow.startTranslationY + arrow.endTranslationX + arrow.endTranslationY">
            </g>  
            <g *ngFor="let line of myLines" 
                [line]="line" app-line>
            </g>      
        </svg>
    </div>
    
</div>