.container{
    display: flex;
    height: 70px;
}
.name{
    display: flex;
    justify-content:center;
    align-items:center;
    height: 100%;
    flex-grow: 2;
    
}
.description{
    height: 100%;
    flex-grow: 6;
    
}

.button{
    display: flex;
    justify-content:left;
    align-items:center;
    height: 100%;
    flex-grow: 1;
}

mat-form-field{
    width: 80%;
}
