
<svg:rect   id="rect" class="rect" *ngIf="transition" 
            attr.x={{state.positionX}} attr.y={{state.positionY}} 
            attr.width={{state.width}} attr.height={{state.height}}  
            style="fill:#039be5;"  rx="15" ry="15" 
/>
<svg:rect   id="rect" class="rect" *ngIf="freeFlow" 
            attr.x={{state.positionX}} attr.y={{state.positionY}} 
            attr.width={{state.width}} attr.height={{state.height}}  
            style="fill:#fca91a;" rx="15" ry="15" 
/>
<svg:rect   id="rect" class="rect" *ngIf="final" 
            attr.x={{state.positionX}} attr.y={{state.positionY}} 
            attr.width={{state.width}} attr.height={{state.height}}  
            style="fill:#009035;" rx="15" ry="15" 
/>
<svg:rect   id="rect" class="rect" *ngIf="start" 
            attr.x={{state.positionX}} attr.y={{state.positionY}} 
            attr.width={{state.width}} attr.height={{state.height}}  
            style="fill:rgb(44, 44, 44);"  rx="15" ry="15" 
/>
       
<svg:text   attr.x={{state.centerX}} attr.y={{state.centerY}} 
            text-anchor="middle" 
            style="font-family: Arial, sans-serif; font-size: 14px; color: white; font-weight: bold; text-decoration: none; fill: rgb(255, 255, 255);">
            {{state.name}}
</svg:text>
<svg:circle class="accessPoint"
            attr.cx={{state.accessNorthX}} attr.cy={{state.accessNorthY}} 
            r="4" 
            stroke="red" stroke-width="3" fill="red">                
</svg:circle>
<svg:circle class="accessPoint"
            attr.cx={{state.accessSouthX}} attr.cy={{state.accessSouthY}} 
            r="4" 
            stroke="black" stroke-width="3" fill="red">                
</svg:circle>
<svg:circle class="accessPoint"
            attr.cx={{state.accessEastX}} attr.cy={{state.accessEastY}} 
            r="4" 
            stroke="black" stroke-width="3" fill="red">                
</svg:circle>
<svg:circle class="accessPoint"
            attr.cx={{state.accessWestX}} attr.cy={{state.accessWestY}} 
            r="4" 
            stroke="black" stroke-width="3" fill="red">                
</svg:circle>