
<svg:rect   id="rect" class="rect" *ngIf="transition" 
            attr.x={{state.positionX}} attr.y={{state.positionY}} 
            attr.width={{state.width}} attr.height={{state.height}}  
            style="fill:#039be5;stroke-width:3;stroke:#0f77a8"  rx="15" ry="15" 
/>
<svg:rect   id="rect" class="rect" *ngIf="freeFlow" 
            attr.x={{state.positionX}} attr.y={{state.positionY}} 
            attr.width={{state.width}} attr.height={{state.height}}  
            style="fill:#fca91a;;stroke-width:3;stroke:#b37711" rx="15" ry="15" 
/>
<svg:rect   id="rect" class="rect" *ngIf="final" 
            attr.x={{state.positionX}} attr.y={{state.positionY}} 
            attr.width={{state.width}} attr.height={{state.height}}  
            style="fill:#009035;;stroke-width:3;stroke:#026125" rx="15" ry="15" 
/>
<svg:rect   id="rect" class="rect" *ngIf="start" 
            attr.x={{state.positionX}} attr.y={{state.positionY}} 
            attr.width={{state.width}} attr.height={{state.height}}  
            style="fill:#2c2c2c;;stroke-width:3;stroke:#1d1d1d"  rx="15" ry="15" 
/>
       
<svg:text   attr.x={{state.centerX}} attr.y={{state.centerY}} 
            text-anchor="middle" 
            style="font-family: Arial, sans-serif; font-size: 14px; color: white; font-weight: bold; text-decoration: none; fill: rgb(255, 255, 255);">
            <svg:tspan attr.x={{state.centerX}} attr.y={{state.centerY-10}} >{{tspan1}} </tspan>
            <svg:tspan attr.x={{state.centerX}} attr.y={{state.centerY+5}} >{{tspan2}}</tspan>
            <svg:tspan attr.x={{state.centerX}} attr.y={{state.centerY+20}} >{{tspan3}}</tspan>
</svg:text>
<svg:circle class="accessPoint"
            attr.cx={{state.accessNorthX}} attr.cy={{state.accessNorthY}} 
            r="4" 
            stroke="red" stroke-width="3" fill="red">                
</svg:circle>
<svg:circle class="accessPoint"
            attr.cx={{state.accessSouthX}} attr.cy={{state.accessSouthY}} 
            r="4" 
            stroke="black" stroke-width="3" fill="red">                
</svg:circle>
<svg:circle class="accessPoint"
            attr.cx={{state.accessEastX}} attr.cy={{state.accessEastY}} 
            r="4" 
            stroke="black" stroke-width="3" fill="red">                
</svg:circle>
<svg:circle class="accessPoint"
            attr.cx={{state.accessWestX}} attr.cy={{state.accessWestY}} 
            r="4" 
            stroke="black" stroke-width="3" fill="red">                
</svg:circle>